In [4]:
rows = int(input("Enter rows: "))
columns = int(input("Enter columns: "))
symbol = input("Enter symvbol: ")

for i in range(rows):
    for j in range(columns):
        print(symbol, end=' ')
    print()

Enter rows:  3

Enter columns:  5

Enter symvbol:  %

% % % % %
% % % % %
% % % % %

In [8]:
#Pattrens

n = int(input())
for i in range(1, n+1):
    for j in range(1, i+1):
        print("3", end=' ')
    print('')

 3

3
3 3
3 3 3

In [16]:
list_fruits = ['mango', 'apple', 'banana', 'orange']
for fruits in list_fruits:
    for x in fruits:
        for i in x:
            print(i, end='')
    print('')

mango
apple
banana
orange

In [22]:
c = ['red', 'green', 'blue']
i = ['apple', 'veggies', 'shirt']
for x in c:
    for y in i:
        print(x,y)
        if('red apple'):
            print('i love it')
    print('')

red apple
i love it
red veggies
i love it
red shirt
i love it

green apple
i love it
green veggies
i love it
green shirt
i love it

blue apple
i love it
blue veggies
i love it
blue shirt
i love it

In [7]:
lst = [8,4,3,2,5,6,1,9,8,7,3]

lst.append(12)  #'append'means adding an element in last section and it will add anything as single element.
print(lst)

lst1 = [50, 51, 43]
lst.append(lst1)
print(lst)

[8, 4, 3, 2, 5, 6, 1, 9, 8, 7, 3, 12]
[8, 4, 3, 2, 5, 6, 1, 9, 8, 7, 3, 12, [50, 51, 43]]

In [20]:
print(lst[12])
lst.extend(lst1)
print(lst)
print(lst[15])


#lst.insert(position, what)

9
[8, 5, 4, 3, 5, 5, 5, 5, 2, 5, 6, 1, 9, 8, 7, 3, 12, [50, 51, 43], 50, 51, 43, 50, 51, 43, 50, 51, 43, 50, 51, 43, 50, 51, 43]
3

[8, 5, 4, 3, 5, 5, 5, 5, 2, 5, 6, 1, 9, 8, 7, 3, 12, [50, 51, 43], 50, 51, 43, 50, 51, 43, 50, 51, 43]

In [24]:
lst.insert(3,5)
print(lst)

lst.remove(51)  #'remove' function indecates an element
print(lst)

[8, 5, 4, 5, 5, 5, 5, 3, 5, 5, 5, 5, 2, 5, 6, 1, 9, 8, 7, 3, 12, [50, 51, 43], 50, 43, 50, 43, 50, 51, 43, 50, 51, 43, 50, 51, 43]
[8, 5, 4, 5, 5, 5, 5, 3, 5, 5, 5, 5, 2, 5, 6, 1, 9, 8, 7, 3, 12, [50, 51, 43], 50, 43, 50, 43, 50, 43, 50, 51, 43, 50, 51, 43]
[8, 5, 4, 5, 5, 5, 5, 3, 5, 5, 5, 5, 2, 5, 6, 1, 9, 8, 7, 3, 12, [50, 51, 43], 50, 43, 50, 43, 50, 43, 50, 51, 43, 50, 51]

In [29]:

lst.pop()    # this function will remove element one by one
print(lst)

lst.reverse()
print(lst)

[1, 2, 3, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 7, 8, 9, 12, [50, 51, 43], 50, 43, 50, 43, 50, 43, 50]
[50, 43, 50, 43, 50, 43, 50, [50, 51, 43], 12, 9, 8, 7, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 3, 3, 2, 1]

In [40]:


lst.sort()
print(lst)

lst.sort(reverse=True)
print(lst)

[1, 2, 3, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 7, 8, 9, 12, 43, 43, 43, 50, 50, 50, 50]
[50, 50, 50, 50, 43, 43, 43, 12, 9, 8, 7, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 3, 3, 2, 1]

In [3]:
lst = [4,5,6,8,2,9,1,0,2,3]

print(max(lst))
print(min(lst))
print(sum(lst))

9
0
40

In [5]:
tple = (1,2,3,4,5,6,7,8,9)

lst2 = list(tple)
print(type(lst2))

<class 'list'>

In [7]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

print(set1.intersection(set2))

{4, 5, 6}

In [10]:
print(set1.union(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [16]:
dic = {'name':'Sium', 'age':25, 'course':'python'}
print(dic)

print(dic['age'])
print(dic.get('age'))
dic['course'] = 'CSE'
print(dic)

{'name': 'Sium', 'age': 25, 'course': 'python'}
25
25
{'name': 'Sium', 'age': 25, 'course': 'CSE'}

In [19]:
print(dic.keys())
print(dic.values())

print(dic.items())

dict_keys(['name', 'age', 'course'])
dict_values(['Sium', 25, 'CSE'])
dict_items([('name', 'Sium'), ('age', 25), ('course', 'CSE')])

In [4]:
#1+3+5+....+100=?
#print Odd number:

sum = 0
for i in range(1,101,2):
    sum = sum + i
print(sum)

2500

In [5]:
sum = 0
for i in range(1,101):
    if(i%2==0):
        continue
    else:
        sum = sum + i
print(sum)

2500

In [6]:
sum = 0
for i in range(1,101):
    if(i%2!=0):
        sum = sum + i
print(sum)

2500

In [12]:
i = 1
sum = 0
while(i<101):
    sum = sum + i
    i = i + 2
print(sum)

2500

In [16]:

i = 1
sum1 = 0
while(i<101):
    if(i%2==0):
        sum1 = sum1 + i
    i = i + 1
print(sum1)

2550

In [11]:
subjects = ["ai", "data scince", "ML", "math"]
for x in subjects:
    print(x)

ai
data scince
ML
math

In [11]:
tple = [1,4,5,7,8]
list1 = list(tple)
print(list1)
list1.append(11)
print(list1)
tple1 = tuple(list1)
print(tple1)

list2 = list(tple1)
print(list2)
list2.reverse()
print(list2)
tple2 = tuple(list2)
print(tple2)

[1, 4, 5, 7, 8]
[1, 4, 5, 7, 8, 11]
(1, 4, 5, 7, 8, 11)
[1, 4, 5, 7, 8, 11]
[11, 8, 7, 5, 4, 1]
(11, 8, 7, 5, 4, 1)